 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>URL SHORTENER!!!</title>
    <link href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css" rel="stylesheet">
    <style>
      .form {
        width: 50%;
        margin: 100px auto;
      }
    </style>
  </head>
  <body>
    <div class="form">
      <form action="/" method="post">
        <div class="medium-6 cell">
          <label>Enter a URL to shorten:
            <input name="url" type="text" placeholder="Long URL goes here...">
          </label>
          <div class="input-group-button">
            <input type="submit" class="button" value="Submit">
          </div>
        </div>
      </form>
      <br>
      {% if shortUrl %}
        <p>Your short URL is: {{ shortUrl }}</p>
      {% endif %}
    </div>
  </body>
</html>
